.h1Con {
  font-family: Alef;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.contactContent {
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 100%;
  display: flex;

  justify-content: space-evenly;
}

input {
  font-family: Frank Ruhl Libre;
  font-size: 2.4rem;
  text-align: right;
  border-style: hidden hidden solid hidden;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  color: rgba(55, 55, 55, 1);
  background: none;
}
.textArea {
  border-width: 1px;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border: 1px solid rgba(55, 55, 55, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: none;
  height: 17.4rem;
  font-size: 2.4rem;
}
.ConForm {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
}
.conDit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.conDit p {
  display: inline;
}
.conDit div {
  display: flex;
  gap: 2rem;
  align-items: center;
}
