.HeroSec {
  text-align: center;
}
.iconHead {
  margin-top: 5rem;
}

.headshot {
  margin: 0 auto;
  width: 40rem;
  height: 35rem;
}
.FirstBox h1 {
  font-family: Frank Ruhl Libre;
  font-weight: 700;
  font-size: 9.6rem;
  line-height: 100%;
}
.FirstBox h2 {
  font-family: Frank Ruhl Libre;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 100%;
}
.TextHeroDiv {
  font-size: 2.4rem;
  text-align: right;
  margin-right: 2rem;
}
.HeroDiv {
  display: flex;
  flex-direction: row;
  /* gap: 10rem; */
  align-items: center;
  padding-bottom: 5rem;
  flex-wrap: wrap;
}
