.HeroSec {
  text-align: center;
  padding: 2rem;
}

.iconHead {
  margin-top: 5rem;
  max-width: 10rem;
  height: auto;
}

.headshot {
  margin: 0 auto;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.FirstBox h1 {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 700;
  font-size: 9.6rem;
  margin: 0;
}

.FirstBox .topHeroH2 {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.4;
}

.heroCTA {
  font-weight: 700;
  font-size: 3.6rem;
  margin-top: 3rem;
}

.bottomDivText {
  font-size: 2.4rem;
  margin: 3rem 0;
}

.HeroDiv {
  font-size: 2.4rem;
  text-align: right;
  margin: 2rem;
  flex: 1;
  min-width: 25rem;
}

.TextHeroDiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 5rem;
}
.TextHeroDiv ul {
  padding-right: 1rem;
}

.HeroSpli {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin: 4rem 0;
}

@media (min-width: 1600px) {
  .FirstBox h1 {
    font-size: 11rem;
  }
  .FirstBox .topHeroH2 {
    font-size: 5.4rem;
  }
  .heroCTA {
    font-size: 4.2rem;
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .FirstBox h1 {
    font-size: 10rem;
  }
  .FirstBox .topHeroH2 {
    font-size: 5rem;
  }
  .heroCTA {
    font-size: 4rem;
  }
}

@media (max-width: 1200px) {
  .FirstBox h1 {
    font-size: 7rem;
  }
  .FirstBox .topHeroH2 {
    font-size: 3.2rem;
  }
  .heroCTA {
    font-size: 2.8rem;
  }
  .headshot {
    width: 18rem;
    height: 18rem;
  }
}

@media (max-width: 1024px) {
  .FirstBox h1 {
    font-size: 6rem;
  }
  .FirstBox .topHeroH2 {
    font-size: 3rem;
  }
  .heroCTA {
    font-size: 2.6rem;
  }
  .HeroDiv {
    font-size: 2.2rem;
  }
}

@media (max-width: 900px) {
  .HeroSpli {
    flex-direction: column;
    gap: 2rem;
  }
  .HeroSpli li {
    list-style: none;
  }
  .HeroDiv {
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
  }
  .headshot {
    width: 16rem;
    height: 16rem;
  }
  .FirstBox h1 {
    font-size: 5rem;
  }
  .FirstBox .topHeroH2 {
    font-size: 2.8rem;
  }
  .heroCTA {
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  .HeroSec {
    padding: 1.5rem;
  }
  .FirstBox h1 {
    font-size: 4.6rem;
  }
  .FirstBox .topHeroH2 {
    font-size: 2.6rem;
  }
  .bottomDivText {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .HeroSec {
    padding: 1rem;
  }
  .FirstBox h1 {
    font-size: 3.6rem;
  }
  .FirstBox .topHeroH2 {
    font-size: 2rem;
  }
  .heroCTA {
    font-size: 2rem;
  }
  .bottomDivText {
    font-size: 1.8rem;
    text-align: center;
  }
  .HeroDiv {
    font-size: 1.8rem;
    margin: 1rem 0;
    text-align: center;
  }
  .headshot {
    display: none;
  }
  .TextHeroDiv {
    padding-bottom: 0;
  }
}
@media (max-width: 480px) {
  .HeroSec {
    padding: 0.8rem;
  }
  .FirstBox h1 {
    font-size: 3rem;
  }
  .FirstBox .topHeroH2 {
    font-size: 1.8rem;
  }
  .heroCTA {
    font-size: 1.8rem;
  }
  .HeroDiv {
    font-size: 1.6rem;
  }
}

@media (max-width: 360px) {
  .HeroSec {
    padding: 0.5rem;
  }
  .FirstBox h1 {
    font-size: 2.6rem;
  }
  .FirstBox .topHeroH2 {
    font-size: 1.6rem;
  }
  .heroCTA {
    font-size: 1.6rem;
  }
  .bottomDivText {
    font-size: 1.5rem;
  }
}
