.RecSecDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
}
.divrecbox {
  text-align: center;
}
.StartRev {
  font-family: Frank Ruhl Libre;
  font-weight: 700;
  font-size: 3.5rem;
  margin-top: 0;
  margin-right: 2rem;
  text-align: right;
}
.RevPCon,
.RevName {
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 100%;
  text-align: right;
}
.RevPCon {
  padding: 2rem;
}
.RevName {
  padding: 0 2rem;
}
